{"filter":false,"title":"requirements.txt","tooltip":"/requirements.txt","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":552.2222290039062,"scrollleft":0,"selection":{"start":{"row":5,"column":0},"end":{"row":5,"column":12},"isBackwards":true},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":34,"state":"start","mode":"ace/mode/text"}},"timestamp":1565195811258,"hash":"6909c23173bf266dd5126fcbc37251884bec8ff9"}