body {
    font-family: Arial;
    padding-top: 60px;
}

.profile {
    width: 80%;
}

.footer {
    position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #42a5f5;
	margin-top: 20px;
	color: white;
}

.ul-spacing {
    margin-bottom: 5px;
}

.footer-a {
    color: white;
    text-decoration: none;
}

.contentBlock {
    top: 0;
    margin-bottom: 20px;
}
