<!--
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}">Profile</a></li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                    {%  else %}
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="{% url 'login' %}">Log In</a></li>
                    {% endif %}
                    <li>
                        <a href="{% url 'view_cart' %}">
                            <i class="fa fa-shipping-cart"></i>Cart
                            {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                        </a>
                    </li>
                </ul> -->